body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #bd4ed3;
    font-family: 'Roboto', sans-serif; 
}

.container {
    text-align: center;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-template-rows: repeat(3, 120px);
    gap: 10px;
    margin-top: 20px;
}

.cell {
    width: 120px;
    height: 120px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    cursor: pointer;
    border: 2px solid #111010f0;
    transition: background-color 0.3s ease;
}

.cell:hover {
    background-color: #f0f0f0;
}

.cell.x::before {
    content: 'X';
    color: #f00;
    animation: pop 0.3s ease;
}

.cell.o::before {
    content: 'O';
    color: #00f;
    animation: pop 0.3s ease;
}

@keyframes pop {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
}

.winning-message {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.winning-message.show {
    display: flex;
}

button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
    font-family: 'Roboto', sans-serif; 
}

button:hover {
    background-color: #0056b3;
}

button#endGameButton {
    background-color: #dc3545;
}

button#endGameButton:hover {
    background-color: #c82333;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}

.modal-content {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif; 
}

.modal-content ul {
    list-style-type: none; 
    padding-left: 0; 
    margin: 0; 
    text-align: left; 
}

.modal-content li {
    margin-bottom: 10px; 
}

.modal-content button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
}

.modal-content button:hover {
    background-color: #0056b3;
}
